@page
@model JetBrains.FeaturedImageGenerator.Pages.Bye

@{
    Layout = null;
}

<!DOCTYPE html>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>JetBrains Featured Image Generator</title>
    <link rel="stylesheet" href="~/css/fontawesome/all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <!-- Bulma Version 0.9.0-->
    <link rel="stylesheet" href="~/css/bulma.min.css"/>
    <style>
        html,
        body {
            font-family: 'Open Sans';
        }
        .image {
            padding: 5px;
            border: 1px solid #ccc;
        }
        .logo {
            margin-right: 1em;
        }
    </style>
</head>

<body>
<section class="hero is-default is-bold">
    <div class="hero-head">
        <nav class="navbar">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item" asp-page="Index">
                        <img class="logo" src="~/img/logo.png" alt="Logo">
                        <strong>JetBrains</strong>
                    </a>
                    <span class="navbar-burger burger" data-target="navbarMenu">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </div>
                <div id="navbarMenu" class="navbar-menu">
                    <div class="navbar-end">
                        <div class="tabs is-right">
                            <ul>
                                <li class="is-active">
                                    <a asp-page="Index">Home</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div class="hero-body">
        <div class="columns is-mobile is-centered">
            <div class="column is-half">
                <img src="https://media.giphy.com/media/LMQo5ad3JdjCAba7Sv/giphy.gif" style="width:100%; margin: 0 auto" alt="Goodbye" />
            </div>
        </div>
    </div>

    <div class="hero-foot">
        <div class="container">
            <div class="tabs is-centered">
                <ul>
                    <li>
                        <a>&copy; JetBrains @DateTime.Now.Year</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
</body>
</html>